body {
	background: #efeff4;
	max-width: 800px;
    position: relative;
}

.inputList {
	width: 95%;
	margin: 0 auto;
}

.inputStyle {
	width: 80%;
	border: #00b4ff solid 1px;
	border-radius: 2px;
	height: 25px;
	line-height: 25px;
	text-indent: 10px;
}

.col-6 {
	color: #666666;
}

.mar-l {
	margin-left: 10px;
}

.inputList div:first-child {
	width: 60px;
}

.goodsImg img {
	width: 40px;
	height: 40px;
	padding: 10px;
	border-radius: 4px;
}

.goodsName {
	color: #323232;
	font-size: 18px;
	text-align: left;
	padding: 15px 5px;
}

.detailList div:first-child {
	width: 80px;
	text-indent: 10px;
	font-size: 98%;
}

.detailList div:nth-child(2) {
	font-size: 98%;
}

.btn {
	border-radius: 4px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	background: #38aaff;
	height: 40px;
	line-height: 40px;
	width: 90%;
	cursor: pointer;
}
._top{
	max-width: 800px;
}
.cover{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:#000;
    opacity:0.8;
    z-index:10000;
}
.selfBlock{
    position:absolute;
    top:30%;
    left:0;
    width:100%;
    z-index:10001;
    
}
.selfBlock .content{
    position:relative;
    width:80%;
    margin:0 auto;
    text-align: center;
    background:#fff;
}
.close-btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 36px;
    height: 36px;
    background: #467eb6;
    text-align: center;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
    display:none;
}
.close-btn:hover{
    background:#1a3e62;
    
}
.selfBlock .title{
    background: #ddd;   
    padding:10px 0;
}
.selfBlock .row{
    padding:10px 0;
    background:#f3f3f3;
}
.selfBlock .row a{
    color:blue;
}
.selfBlock .row:last-child{
    margin-top:2px;
}
.link-div{
    padding-top:10px;
    display:none;
}
.show-self-create .link-div,.show-self-create .copy-link-block,.show-self-create .close-btn{
    display:block;
}
.show-self-create .system-create,.show-self-create .self-div{
    display:none;
}
.show-self-create .row{
    padding:0;
}

.copy-link-block{
    display:none;
    margin-top:10px;
    text-align: left;
    background:#ddd;
    padding:5px 10px;
}
.download-link{
    word-break:break-all;
}
.close-btn-click .cover,.close-btn-click .selfBlock{
    display:none;
}